@{
    ViewData["Title"] = "Home Page";
}

@model List<ImageModel>

<div class="text-center">
    <h5 class="display-6">Bem Vindo ao Gerenciador de Tarefas Avanade</h5>    
</div>

<div class="row justify-content-md-center">

    @foreach (var images in Model)
    {
        <div class="col-autoc col-md-8 col-lg-8">
            <div class="card mb-2">
                <br>
                <img class="card-img-top" src="@images.ImagePath" />
            </div>
        </div>

    }